services:
  browser:
    image: klausmeyer/docker-registry-browser:latest
    hostname: redis_insight_1
    container_name: redis_insight_1
    restart: unless-stopped
    ports:
      - "8248:8080"
    environment:
      BASIC_AUTH_USER: "admin"
      BASIC_AUTH_PASSWORD: "admin"
      DOCKER_REGISTRY_URL: "http://docker_registry_1:5000"
      ENABLE_DELETE_IMAGES: "true"
      PUBLIC_REGISTRY_URL: "docker.jc21.com"
      SECRET_KEY_BASE: "$APP_SEED"
      SORT_TAGS_BY: "api"
    depends_on:
      - registry

  registry:
    image: registry:3
    hostname: docker_registry_1
    container_name: docker_registry_1
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      OTEL_SDK_DISABLED: "true"
      OTEL_TRACES_EXPORTER: "none"
      REGISTRY_AUTH: "htpasswd"
      REGISTRY_AUTH_HTPASSWD_PATH: "/auth/htpasswd"
      REGISTRY_AUTH_HTPASSWD_REALM: "Registry Realm"
      REGISTRY_LOG_LEVEL: "info"
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: "/var/lib/registry"
    volumes:
      - "${APP_DATA_DIR}/data/registry:/var/lib/registry:rw"
      - "${APP_DATA_DIR}/data/auth:/auth:ro"

  mirror:
    image: registry:3
    hostname: docker_registry_mirror_1
    container_name: docker_registry_mirror_1
    restart: unless-stopped
    ports:
      - "5001:5000"
    environment:
      OTEL_SDK_DISABLED: "true"
      OTEL_TRACES_EXPORTER: "none"
      REGISTRY_LOG_LEVEL: "info"
    volumes:
      - "${APP_DATA_DIR}/mirror-config.yml:/etc/distribution/config.yml:ro"
      - "${APP_DATA_DIR}/data/mirror:/var/lib/registry:rw"
